@font-face {
  font-family: YANGJIN;
  src: url("../public/font/양진체v0.9_ttf\ \(1\).ttf");
}
@font-face {
  font-family: SCD-3;
  src: url("../public/font/SCDream3.otf");
}
@font-face {
  font-family: SCD-5;
  src: url("../public/font/SCDream5.otf");
}
@font-face {
  font-family: SCD-7;
  src: url("../public/font/SCDream7.otf");
}
