* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  user-select: none;
}
#root {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 1920px;
  height: 100vh;
  min-width: 1920px;
  /* overflow-x: hidden; */
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
